Django==3.1.3
django-active-link==0.1.6
django-admin-interface==0.14.1
django-colorfield==0.3.2
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-taggit==1.3.0
Markdown==3.3.3
Pillow==8.0.1
pytz==2020.4
six==1.15.0
sqlparse==0.4.1