header {
  width: 100%;
  z-index: 15;
  }
  nav {
  left:3.75em;
  display:flex;
  position:absolute;
  flex-direction: row;
  align-items: flex-start;
  }
  h1{
    font-size: 2rem;
    margin-left: 0;
    }h1 a {
    color:#3d3d3b;
    text-decoration: none;
    }h1 span{
    position:relative;
    }
    #title0 {font-size: 2.25em; top:-0.15em; font-weight: 400;}
    #title1 {font-size: 1.5em; top:-0.5em;}
    #title2 {font-size: 1.75em; top:0.1em;}
    #title3 {font-size: 1.25em; top:0.5em;}
    #title4 {font-size: 1.5em; top:0.5em;}
    #title5 {font-size: 1.5em; top:0.25em;}
    #title6 {font-size: 1em; top:0.75em;}
    #title7 {font-size: 1em; top:1em;}
    #title8 {font-size: 1em; top:1.25em;}
    #title9 {font-size: 0.5em; top:3em;
  }
  h2 {
    background-color:#e9d5af;
    font-size: 1.5em;
    font-stretch: ultra-condensed;
    font-style: italic;
    margin-top: 2em;
    margin-left: 2.25em;
    display: flex;
    position: relative;
    vertical-align: center;
    z-index:99;
    }h2 a {
      color: #2b2b29;
      text-decoration: none;
    }h2 a:hover {
      color: #FFF;
    }h2 a.active {
      text-decoration: underline;
  }
.linktree{
  position:absolute;
  width:26em;
  left:-26em;
  top:6em;
  z-index:20;

}.linktreeimg{
  max-width: 100%;
  max-height: 100%;
}
.linktree.switch{
  left:0;
}
.menu{
  visibility: visible;
  display:flex;
  align-self: center;
  margin-left: 2em;
}
.title {
  display:flex;
  align-self: flex-start;
}
#collapsebtn {
  background-color: #f9f5f5;
  font-size: 2em;
  left:0;
  top:5em;
  margin: 0;
  position:absolute;
  z-index: 21;
  }
#collapsebtn.switch{
  left:24rem;
}
#mobilecollapsebtn{
  visibility:hidden;
  }

#menubtn{
  visibility: hidden;
}


@media screen and (max-width: 1080px) {
  header {
position: relative;
  }
  nav {
  left:-1em;
  font-size: 1.5em;
  display:flex;
  position:relative;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.menu{
  flex-direction: column;
}
  #collapsebtn{
      visibility: hidden;
    }
  #menubtn{
    visibility: visible;
    position: absolute;
    right:0;
    z-index:99;
  }
  #mobilecollapsebtn{
    background-color: #f9f5f5;
    font-size: 2em;
    right:0;
    top:18.5em;
    width:5em;
    height:2em;
    position:absolute;
    -webkit-transform: rotate(90deg);
    transform-origin: top right;
    visibility: visible;
    z-index: 21;
    }

  .linktree{
    width: 100vw;
    left:0;
  }.linktree.switch{
    left:100vw;
  }
  .menu{
    visibility: hidden;
  }
  .menu.switch{
    visibility:visible;
    z-index:100;
  }
}
