h3 {
      font-family: 'Open sans', sans-serif;
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 1em;
      font-stretch:ultra-expanded;
      line-height: 0;

  }h3 a{color: #181817;
      text-decoration: none;
  }
.date {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  transform: rotate(270deg);
  margin-top: 0.25em;
  position:absolute;
  top:6em;
  left:-6em;
}
.intime {
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    z-index:20;
}.intime img{
    display:flex;
    position:relative;
    margin:auto;
    padding: auto;
    width: 100%;
    height: 100%;
    max-width: 100rem;
    max-height:55rem;
    object-fit: contain;
    align-items: flex-start;
    }
.libre {
  position: absolute;
  margin: auto;
  z-index:1;
  max-width: 47em;
}
.post {
  position: relative;
  width: auto;
}
.specific_bg_color{
  -webkit-filter: blur(1.25em);
  height:56em; //changer pour se faire dynamiquement par rapport a img
  top:1em;
  position:absolute;
  z-index: 0;
}
