h3 {
      font-family: 'Open sans', sans-serif;
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 1em;
      font-stretch:ultra-expanded;
      line-height: 0;
      
  }h3 a{color: #181817;
      text-decoration: none;
  }
p { display: block;
    font-size: 1rem;
    font-weight: bolder;
    }
  p img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100rem;
    max-height:60rem;
}
.date {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  transform: rotate(270deg);
  margin-top: 0.25em;
  position:absolute;
  top:6em;
  left:-6em;
}
.intime {
    overflow: hidden;
    border-radius: 0.25em;
    display:inline-flex;
    flex-direction:column;
    z-index:20;
}
.libre {
  position: absolute;
  margin: auto;
  z-index:1;
  max-width: 47em;
}
.post, .infinite-item{
  position: relative;
}
.specific_bg_color{
  -webkit-filter: blur(17px);
  width:5000px;
  height:900px;
  left:-2500px;
  top:12px;
  position:absolute;
  z-index: 0;
}
