



@media screen and (max-width: 1080px) {

  #mobilecollapsebtn{
    background-color: #f9f5f5;
    font-size: 2em;
    right:0;
    top:18.5em;
    width:5em;
    height:2em;
    -webkit-transform: rotate(90deg);
    transform-origin: top right;
    visibility: visible;
    z-index: 21;
    }




  }
  .info{
    margin-left: 2vw;
    margin-right: 4vw;
  }
  .linktree{
    display: flex;
  }.linktree.switch{
  }

}
