header {
  width: 100%;
  z-index: 15;
  }
  nav {
  left:3.75em;
  display:flex;
  position:absolute;
  flex-direction: row;
  align-items: flex-start;
  }

.linktree{
  position:absolute;
  width:26em;
  left:-120%;
  top:6em;
  z-index:20;

}.linktreeimg{
  max-height: 40rem;
}
.linktree.switch{
  left:1em;
}
.menu{
  visibility: visible;
  display:flex;
  align-self: center;
  margin-left: 2em;
}
.title {
  display:flex;
  align-self: flex-start;
}
#collapsebtn {
  background-color: #f9f5f5;
  font-size: 2em;
  left:0;
  top:5em;
  margin: 0;
  position:absolute;
  z-index: 21;
  }
#collapsebtn.switch{
  /*left:24rem;*/
}
#mobilecollapsebtn{
  visibility:hidden;
  }

#menubtn{
  visibility: hidden;
}


@media screen and (max-width: 1080px) {
  header {
position: relative;
  }
  nav {
  left:-1em;
  font-size: 1.5em;
  display:flex;
  position:relative;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.menu{
  flex-direction: column;
}
  #collapsebtn{
      visibility: hidden;
    }
  #menubtn{
    visibility: visible;
    position: absolute;
    right:0;
    z-index:99;
  }
  #mobilecollapsebtn{
    background-color: #f9f5f5;
    font-size: 2em;
    right:0;
    top:18.5em;
    width:5em;
    height:2em;
    position:absolute;
    -webkit-transform: rotate(90deg);
    transform-origin: top right;
    visibility: visible;
    z-index: 21;
    }

  .linktree{
    width: 100vw;
    left:0;
  }.linktree.switch{
    left:100vw;
  }
  .menu{
    visibility: hidden;
  }
  .menu.switch{
    visibility:visible;
    z-index:100;
  }
}
