/* ====================================
Normalization
==================================== */

body {
  margin: 0;
}

article,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
