button[name="expand"]{
    color:#fff4b9;
    font-size: 2rem;
    font-weight: bolder;
    border: none;
    background: none;
    margin: auto;
    padding: auto;
    right:2em;
    top:0.55em;
    position: absolute;
}

.portfolio{
  display:flex;
  flex-direction: row;
}

.portfoliopost {
  display: flex;
  position:relative;
  flex-direction: column;
  width: 39em;
  padding-right: 2em;
}.portfoliopost h3 {
  margin-bottom: 2em;
}.portfoliopost.expand{
  width:80em;
  z-index:100;
}

.portfoliointime {
/*  width:55rem;*/
  font-size: 0;
  display: flex;
  flex-direction: column;
}.portfoliointime img{
  display: flex;
  max-height:39rem;
  object-fit: contain;
  object-position: 0% 15%;
}.portfoliodate {
  font-size: 0.85rem;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
.title {
  display:flex;
  align-self: flex-start;
}
