@import url(https://fonts.googleapis.com/css?family=Bitter);
@import "menus.css";
@import "portfolio.css";


:root {
  --clr-primary-300: #d9d1c5;
  --clr-primary-400: #706649;
  --clr-accent-500: #f6e3a4;
  --clr-primary-100: #fff;
  --clr-neutral-900: #2a2825;
  --ff-primary: 'Bitter', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-family: var(--ff-primary);
    line-height: 1;
    background: var(--clr-primary-300);
    font-size: 1.3125rem;
    z-index: 50;
  }
a {
  color: var(--clr-neutral-900);
}
h1{
  font-size: 1.75em;
  margin-left: 0;
  }h1 span{
  position:relative;
  }
  #title0 {font-size: 2.25em; top:-0.15em; font-weight: 400;}
  #title1 {font-size: 1.5em; top:-0.5em;}
  #title2 {font-size: 1.75em; top:0.1em;}
  #title3 {font-size: 1.25em; top:0.5em;}
  #title4 {font-size: 1.5em; top:0.5em;}
  #title5 {font-size: 1.5em; top:0.25em;}
  #title6 {font-size: 1em; top:0.75em;}
  #title7 {font-size: 1em; top:1em;}
  #title8 {font-size: 1em; top:1.25em;}
  #title9 {font-size: 0.5em; top:3em;
}
h2 {
  background-color: var(--clr-accent-500);
  font-size: 1.15em;
  font-style: oblique;
  font-weight: 900;
  margin-top: 2em;
  margin-left: 2.25em;
  display: flex;
  position: relative;
  vertical-align: center;
  z-index:99;
  }h2 a:hover {
    color: #FFF;
  }h2 a.active {
    text-decoration: underline;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
  font-stretch: extra-expanded;
  text-transform: uppercase;
  margin-bottom: 0.35em;
  line-height: 0;
}
h4 {
 font-size: 1.5rem;
 font-weight: bolder;
 margin-top: 1em;
 padding: 0;
}
h5 {
  font-size: 1.25em;
  text-transform: lowercase;
  margin-inline: 0;
}
h6 {
  font-size: 0.75em;
  font-weight: bold;
  margin-top: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}
p {
  font-size: 1em;
  max-width: 45em;
}
.bg_overlay{
    display:inline-flex;
    position:absolute;
    top:0;
    width:auto;
    z-index:0;
  }
.contenu, .infinite-container{
  z-index: 50;
  padding-left:25rem;
  padding-top: 8rem;
}
.date {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  transform: rotate(270deg);
  margin-top: 0.25em;
  position:absolute;
  top:8em;
  left:-4.5em;
}
.info {
  padding-right: 5em;
}
.intime {
    font-size: 1em;
    border-radius: 0.25em;
    width: max-content;
    display: flex;
    flex-direction: column;
    z-index:20;
}.intime img{
    display:flex;
    position:relative;
    padding: auto;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    width: auto;
    height: auto;
    max-width: 70rem;
    max-height:45rem;
    object-fit: contain;
    object-position: 0% 15%;
    }
.libre {
  position: absolute;
  margin: auto;
  z-index:1;
  max-width: 47em;
}
.post {
  position: relative;
  width: auto;
}
.repit {
  padding:4em;
}
.specific_bg_color{
  -webkit-filter: blur(1.25em);
  height:56em; //changer pour se faire dynamiquement par rapport a img
  top:1em;
  position:absolute;
  z-index: 0;
}

@media screen and (max-width: 1080px) {
  body{
    background: #6e9fba;
  }
  .contenu, .infinite-container{
    padding-left:5vw;
  }
  .contenu.switch, .infinite-container.switch{
    padding-left:105vw;
  }
}
.contenu.nooverflow{
  overflow-x: hidden;
  }.contenu.overflow {
  overflow-x: visible;
}
