@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import "portfolio.css";
@import "info.css";


:root {
  --clr-primary-1000: #fff;
  --clr-primary-900: #fff1c1;
  --clr-primary-500: #6c5e32;
  --clr-primary-200: #1f1406;
  --clr-primary-0: #000;
  --clr-accent-900: #d9d1c5;
  --clr-accent-500: #8f8e8c;
  --clr-accent-300: #2e2a25;
  --ff-primary: 'Bitter', serif;
  --ff-accent: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-family: var(--ff-primary);
    line-height: 1;
    background: var(--clr-accent-900);
    font-size: 1.3125rem;
  }

h1 {
    font-size: 2em;
    margin-left: 0;
    }h1 span{
      position:relative;
      color: var(--clr-accent-300);
    }
      #title0 {font-size: 2.25em; top:-0.15em; font-weight: 400;}
      #title1 {font-size: 1.5em; top:-0.5em;}
      #title2 {font-size: 1.75em; top:0.1em;}
      #title3 {font-size: 1.25em; top:0.5em;}
      #title4 {font-size: 1.5em; top:0.5em;}
      #title5 {font-size: 1.5em; top:0.25em;}
      #title6 {font-size: 1em; top:0.75em;}
      #title7 {font-size: 1em; top:1em;}
      #title8 {font-size: 1em; top:1.25em;}
      #title9 {font-size: 0.5em; top:3em;}
      #title0:hover,
        #title1:hover,
         #title2:hover,
          #title3:hover,
           #title4:hover,
            #title5:hover,
             #title6:hover,
              #title7:hover,
               #title8:hover,
                #title9:hover{
                  color: var(--clr-primary-0);
       }
h2 {
    background-color: var(--clr-primary-900);
    font-size: 1.5em;
    font-style: oblique;
    font-weight: 900;
    margin-top: 3em;
    margin-left: 2.25em;
    }h2 a {
      color: var(--clr-accent-300);
    }
    h2 a.active {
      text-decoration: underline;
    }h2 a:focus{
      color:var(--clr-primary-1000);
    }h2 a:hover{
      color:var(--clr-primary-0);
    }
h3 {
    font-size: 2.5rem;
    font-weight: 400;
    font-stretch: extra-expanded;
    text-transform: uppercase;
    margin-bottom: 1em;
}
h4 {
   font-size: 1.5em;
   font-weight: bolder;
   margin-top: 1em;
}
h5 {
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-bottom: : 0.25em;
  text-transform: lowercase;
}
h6 {
  font-size: 0.75em;
  line-height: 0.5em;
  font-weight: bolder;
  margin-top: 0.5em;
}

header {
  position:relative;
  width: 100%;
  }

img {
  margin: 0;
  margin-bottom: 1.2em;
  padding: 0;
  max-height: 100%;
  width:auto;
  height:auto;
}

nav {
  position:absolute;
  left:2em;
  display:flex;
  flex-direction: row;
}
p {
  font-size: 1.1em;
  font-family: var(--ff-accent);
  width: 50vw;
  line-height: 1em;
  margin:0;
  padding:0;
  text-align: justify;
}


.contenu{
  margin-left:20vw;
  margin-top: 15rem;
  margin-right: 2.5em;
}
.date {
  font-family: var(--ff-accent);
  color: var(--clr-accent-500);
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  margin-top: 0.25em;
  position:absolute;
  top:8em;
  left:-4.5em;
  transform: rotate(270deg);
}
.description,
.deets{
  margin-left: 10em;
}
.deets{
  width:
}
.info{
}

.intime {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  }.intime p a{
    text-decoration: underline;
    color: var(--clr-primary-500);
    text-decoration-style: double;
    }.intime p a:hover{
    color: var(--clr-primary-200);
    }.intime p a:visited {
      color: var(--clr-accent-500);
  }
  .intime img{
    max-height: 90vh;
    max-width: 150%;
    margin-top: 0.75em;
    object-fit: contain;
    object-position: 0% 15%;
  }
  .intime h4 {
    text-align: left;
    margin: 0.5em;
  }.intime h5{
    background-color: transparent;
    margin-left: 1em;
    margin-bottom: 1em;
  }.intime h6{
    margin-left: 2em;
    margin-bottom: 0;
    transform: translateY(-1.8em);
  }
.libre {
  position: absolute;
  margin: auto;
  max-width: 35rem;
}
.linktree{
  position:absolute;
  top:5.5em;
  left:2em;
  z-index:1000;

  }.linktreeimg{
    max-height:81vh;
  }
  .linktree.switch{
    left:1em;
  }
.menu{
  visibility: visible;
  display:flex;
  margin-left: 2em;
}
.post {
  position: relative;
  display: flex;
  overflow:hidden;
}
.repit {
  padding:4em;
}
.title {
  position: relative;
}

#menubtn{
  visibility: hidden;
}
#hamburgericon{

  height:0;
}

@media screen and (max-width: 100vh) {
  body{
  }
  header {
    overflow: hidden;
  }
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 0.7em;
    padding-right:2em;
    margin:0.5em;
    line-height: 1em;
    }
  }
    .menu.switch{
  nav {
    font-size: 5vw;
    position: relative;
    display: block;
    height: 9em;
    top: 0;
    left:1em;
    }nav.switch{
      height:13em
  }
  p {
    width: 100%;
  }
  .contenu{
    margin-top:0;
    margin-left: 2vw;
    margin-right: 4vw;
  }

  .description {
    position:absolute;
    top:100vh;


  }
  .info{
    margin-left: 2vw;
    margin-right: 4vw;
  }
  .linktree{
    display: flex;
  }.linktree.switch{
  }

  .menu{
  font-size: 1.5em;
  position: absolute;
  display:flex;
  flex-direction: column;

  top:5em;
  right:0;
  visibility: hidden;
    visibility:visible;
  }
  .intime img {
    max-width: 100%;
  }
  .title {
    height:8em;
  }
  #hamburgericon {
    height:auto;
    fill: var(--clr-accent-300);
  }
  #hamburgericon:hover{
    fill:var(--clr-primary-0);
    cursor:pointer;}
    #menubtn{
      visibility: visible;
      position: absolute;
      width: 6vw;
      right:7vw;
      top:3.5em;
      padding:0;
      background-color: transparent;
      border:none;
    }
}
