@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "menus.css";
@import "portfolio.css";


:root {
  --clr-primary-1000: #fff;
  --clr-primary-900: #fff1c1;
  --clr-primary-500: #6c5e32;
  --clr-primary-200: #1f1406;
  --clr-primary-0: #000;
  --clr-accent-900: #d9d1c5;
  --clr-accent-500: #8f8e8c;
  --clr-accent-300: #2e2a25;
  --ff-primary: 'Bitter', serif;
  --ff-accent: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-family: var(--ff-primary);
    line-height: 1;
    background: var(--clr-accent-900);
    font-size: 1.3125rem;
    z-index: 50;
  }

h1 a{
    font-size: 1em;
    color: var(--clr-accent-300);
    margin-left: 0;
    }h1 span{
      position:relative;
    }
      #title0 {font-size: 2.25em; top:-0.15em; font-weight: 400;}
      #title1 {font-size: 1.5em; top:-0.5em;}
      #title2 {font-size: 1.75em; top:0.1em;}
      #title3 {font-size: 1.25em; top:0.5em;}
      #title4 {font-size: 1.5em; top:0.5em;}
      #title5 {font-size: 1.5em; top:0.25em;}
      #title6 {font-size: 1em; top:0.75em;}
      #title7 {font-size: 1em; top:1em;}
      #title8 {font-size: 1em; top:1.25em;}
      #title9 {font-size: 0.5em; top:3em;}
      #title0:hover,
        #title1:hover,
         #title2:hover,
          #title3:hover,
           #title4:hover,
            #title5:hover,
             #title6:hover,
              #title7:hover,
               #title8:hover,
                #title9:hover{
                             color: var(--clr-primary-0);
       }
h2 a{
    color: var(--clr-accent-300);
    background-color: var(--clr-primary-900);
    font-size: 1.15em;
    font-style: oblique;
    font-weight: 900;
    margin-top: 2em;
    margin-left: 2.25em;
    display: flex;
    position: relative;
    vertical-align: center;
    z-index:99;
    }h2 a.active {
      text-decoration: underline;
    }h2 a:focus{
      color:var(--clr-primary-1000);
    }
h3 {
    font-size: 2.5rem;
    font-weight: 400;
    font-stretch: extra-expanded;
    text-transform: uppercase;
    margin-bottom: 1em;
    line-height: 0;
}
h4 {
   font-size: 1.5rem;
   font-weight: bolder;
   margin-top: 1em;
   padding: 0;
}
h5 {
  font-size: 1.25em;
  text-transform: lowercase;
  margin-inline: 0;
}
h6 {
  font-size: 0.75em;
  line-height: 0;
  font-weight: bolder;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}
header {
  width: 100%;
  z-index: 15;
  }
img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
p {
  font-size: 1.1em;
  font-family: var(--ff-accent);
  max-width: 45em;
  line-height: 1em;
  margin:0;
  padding:0;
  text-align: justify;
}

nav {
left:3.75em;
display:flex;
position:absolute;
flex-direction: row;
align-items: flex-start;
}
.contenu, .infinite-container{
  z-index: 50;
  padding-left:25rem;
  padding-top: 8rem;
}
.date {
  font-family: 'Open sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
  margin-top: 0.25em;
  position:absolute;
  top:8em;
  left:-4.5em;
  transform: rotate(270deg);
}
.info {
  padding-right: 5em;
}
.intime {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  z-index:20;
  }.intime p a{
    text-decoration: underline;
    color: var(--clr-primary-500);
    text-decoration-style: double;
    }.intime p a:hover{
    color: var(--clr-primary-200);
    }.intime p a:visited {
      color: var(--clr-accent-500);
  }.intime img{
  max-height:50em;
  margin-top: 0.75em;
  object-fit: contain;
  object-position: 0% 15%;
  }.intime h4 {
  font-size:1.5em;
  font-weight: bolder;
  text-align: left;
  padding-left: 0.5em;
}.intime h5{
  font-size: 1.25em;
  background-color: transparent;
  margin-left: 1em;
  }.intime h6{
  margin-left: 3em;
  }
.libre {
  position: absolute;
  margin: auto;
  z-index:1;
  max-width: 35rem;
}
.post {
  position: relative;
  width: auto;
}
.repit {
  padding:4em;
}


@media screen and (max-width: 1080px) {
  body{
    background: #6e9fba;
  }
  .contenu, .infinite-container{
    padding-left:5vw;
  }
  .contenu.switch, .infinite-container.switch{
    padding-left:105vw;
  }
}
.contenu.nooverflow{
  overflow-x: hidden;
  }.contenu.overflow {
  overflow-x: visible;
}
