.description {
  margin-left: 2em;
  margin-right: 15vw;
}
.info {
  @include flexLeft(column);

}
#info-me {
  width: 30vw;
  height: auto;
  margin-top:2em;
  margin-left: 45vw;
}
@media (max-width:100vh) {

  .description {p{

    font-size: 1.5em;
    line-height:1.2;
  }h3{
    font-size: 1.5em;
  }}
  .info {
    align-items: center;
  }
  #info-me {
    width: 50vw;
    margin-left:1em;
  }
}
