

.menu {
  @include flexLeft(column, relative);
}

.menutop {
  @include flexLeft(row, relative);
  margin-top:2em;
  margin-left:5em;

}
.menusub {
  @include flexLeft(row, relative);
  margin-left:5em;
  .portfoliomenubtn {
    margin-left: 2em;

  }
}

.menusvg {
  @include flexLeft(row, relative);
  align-self:flex-end;
  height: 2rem;
  img {
    @include fitDiv(3.5rem, 2.25rem);
    margin-top: -.5rem;
    padding-left: 1rem;
  }
  .menutitle {
  background-color: $outlandish;
  }
}


#hamburgericon{
height:0;
  }
#menubtn{
    visibility: hidden;
    height:0;
}

#title0 {font-size: 6.5em;top:.1em;font-weight: 200;letter-spacing:-.05em;}
#title1 {font-size: 3.25em;top: -0.5em;font-weight: 900;letter-spacing: 0;}
#title2 {font-size: 3.5em;top: -.35em;font-weight: 500;letter-spacing: 0.4em;}
#title3 {font-size: 4.75em;top: 0.4em;font-weight: 800;letter-spacing: 0em;}
#title4 {font-size: 2.4em;top: 0.25em;font-weight: 900;letter-spacing: -0.05em;}
#title5 {font-size: 2.75em;top: 0.25em;font-weight: 400;letter-spacing: 0;}
#title6 {font-size: 1.75em;top: 0.75em;font-weight: 900;}
#title7 {font-size: 3.25em;top: 0.5em;font-weight: 400;}
#title8 {font-size: 3em;top: .75em;font-weight: 100;letter-spacing: 0.1em;}
#title9 {font-size: 2.75em; top:.75em;font-weight: 300;letter-spacing: 0em;}


@media (max-width: 100vh) {

    header {
      overflow: hidden;
      @include flexLeft(row, relative);
      width: 100%;
      justify-content: space-between;
      .switch {
        height: 24em;
      }
    }
    .menu{
      font-size: 2em;
      @include flexLeft(column, relative);
      align-items: flex-end;
      top:2em;
      right:0;
      visibility: hidden;
      }.menu.switch{
      visibility: visible;
      }
    .menusvg{
      width:0.8em;
      height:0.8em;
      line-height: 1;
      padding-right:2.25em;
      margin:0.5em;
    }
    .menutop {
      @include flexLeft(column, relative);
      align-items: flex-end;

    }
    .menusub {
    }
    .title {
      height:8em;
    }
    .repit {
      margin:1.5em;
    }
    #hamburgericon {
      fill: var(--clr-accent-300);
      height:3em;
    }
    #hamburgericon:hover{
      fill:var(--clr-primary-0);
      cursor:pointer;}

    #menubtn{
        visibility: visible;
        position: absolute;
        width: 12vw;
        right:7vw;
        top:3.5em;
        padding:0;
        background-color: transparent;
        border:none;
      }


}
