

.menu {
  @include flexLeft(column, relative);
}

.menutop {
  @include flexLeft(row, relative);
  padding-top:2em;
  padding-left: 5em;

}
.menusub {
  @include flexLeft(row, relative);
  padding-left:5em;
  .portfoliomenubtn {
    padding-left: 2em;

  }
}

.menusvg {
  @include flexLeft(row, relative);
  align-self:flex-end;
  height: 2rem;
  img {
    @include fitDiv(3.5rem, 2.25rem);
    margin-top: -.5rem;
    padding-left: 1rem;
  }
  .menutitle {
  background-color: $outlandish;
  }
}

#hamburgericon{
height:0;
  }
#menubtn{
    visibility: hidden;
    height:0;
}

@media (max-width: 100vh) {

    header {
      width: 85vw;
      justify-content: space-between;
    }
    .menu{
      font-size: 2em;
      flex-direction:column;
      top:2em;
      right:0;
      visibility: hidden;
      margin-left: auto;
      }.menu.switch{
      visibility: visible;
      }
    .menusvg{
      width:0.8em;
      height:0.8em;
      line-height: 1;
      padding-right:2.25em;
      margin:0.5em;
    }
    .menutop {
      align-items: flex-end;
      flex-direction:column;
      right: 3rem;
      padding-left: 0;

      h2 {padding-right: 0;
        font-size:1.25em
      }
    }

    .menusub {
    }
    .title {
      height:8em;
    }
    .repit {
      margin:1.5em;
    }
    #hamburgericon {
      fill: var(--clr-accent-300);
      height:3em;
    }
    #hamburgericon:hover{
      fill:var(--clr-primary-0);
      cursor:pointer;}

    #menubtn{
        visibility: visible;
        position: absolute;
        width: 12vw;
        right:7vw;
        top:3.5em;
        padding:0;
        background-color: transparent;
        border:none;
      }


}
