@mixin flexLeft($direction: column, $position: relative) {
  display: flex;
  flex-direction: $direction;
  position: $position;
}

@mixin fitDiv($width, $height) {
  object-fit: contain;
  width: $width;
  height: $height;
}
