@mixin flexLeft($direction, $position) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: $direction;
  position: $position;
}

@mixin fitDiv($width, $height) {
  object-fit: contain;
  width: $width;
  height: $height;
}

@mixin contentSize() {
  width: clamp(16px, 93vw, 100%);
  max-height: 90vh;
}
