@mixin flexLeft($direction, $position) {
  display: flex;

  flex-direction: $direction;
  position: $position;
}

@mixin fitDiv($width, $height) {
  object-fit: contain;
  width: $width;
  height: $height;
}

@mixin Font($size, $margin) {
  font-size: $size;
  margin-top:$margin;
  margin-bottom:$margin;
}

@mixin contenuSize($x: 79vw, $paddL:20vw, $paddR:2.5rem, $paddT:14rem, $paddB:1rem) {
padding-top: $paddT;
padding-right: $paddR;
padding-left: $paddL;
padding-bottom: $paddB;
}
