html {
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding:0;
}
a {
  background-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: content-box;
  text-decoration: none;
}
