@import url(https://fonts.googleapis.com/css?family=Bitter:200,300,400,500,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Colors*/
/*Fonts*/
/*Base spacing*/
html { font-size: 100%; line-height: 1; -webkit-text-size-adjust: 100%; }

body { margin: 0; padding: 0; }

a { background-color: transparent; }

*, *::before, *::after { box-sizing: content-box; text-decoration: none; }

/*Other imports at the end to load after*/
header { display: flex; flex-direction: row; position: relative; margin: 2em 0; z-index: 10; }

body { background: #fcefd8; font-size: 1em; }

a { color: #42392d; text-decoration: none; }

a:hover { color: #0a0909; }

a:active { color: #7335ab; }

a.active { color: #f17917; }

h1 { font-family: "Bitter", serif; font-size: 2em; letter-spacing: 0.1em; color: #42392d; margin-top: 1.5em; }

h1:hover { color: #0a0909; }

h1:active { color: #f17917; }

h1 a.active { color: inherit; }

h2 { font-family: "Raleway", sans-serif; font-size: 1.65em; font-weight: 400; margin-right: 2.5em; text-decoration: none; text-decoration-style: solid; }

h2 .active { text-decoration: underline; }

h3 { color: #f17917; font-family: "Raleway", sans-serif; margin-top: 0.5em; font-size: 1.15em; }

h4 { font-family: "Bitter", serif; font-size: 1.3em; margin: 0.25em 0; }

h5 { font-family: "Raleway", sans-serif; font-size: 0.75em; font-weight: 700; margin: 0.25em 0; }

h6 { font-family: "Bitter", serif; font-size: 0.8em; }

img { height: auto; }

p { font-size: 1.1em; line-height: 1.2; margin: 1.25em 0; font-family: "Bitter", serif; text-align: left; max-width: 40vw; }

p a { text-decoration: underline; color: #42392d; }

ul { font-size: 1em; padding-left: 1rem; }

li { font-family: "Raleway", sans-serif; list-style-type: none; }

.contenu { display: flex; flex-direction: column; position: relative; padding: 7em 2.5rem 1rem 20vw; }

.date { font-family: "Raleway", sans-serif; color: #63625f; font-size: 0.8em; margin: 0.1em 0; font-weight: 300; }

.fullsizeBtn { font-size: .75em; position: absolute; left: -1.5em; top: 2em; }

.imgBox { position: relative; }

.infinite-more-link { height: 0.1em; }

.intime { display: flex; flex-direction: column; position: relative; font-size: 1.25em; margin: 0.5em 0; }

.intime img { width: clamp(16px, 93vw, 100%); max-height: 80vh; object-fit: contain; object-position: 0 0; margin-top: 1.5em; margin-bottom: 0; }

.intime a:hover { color: #0a0909; }

.intime a:visited { color: #63625f; }

.links { position: fixed; display: inline-block; margin-left: -15vw; text-decoration: none; z-index: 1; }

.links li { font-size: 1.25em; margin: 1.5em 0; }

.linktree { font-size: 2.5em; margin: 2em auto; text-align: center; position: relative; top: 30vh; }

.linktree a { text-decoration: underline; }

.logo img { width: 8em; }

.menutitle { padding-left: 5em; }

.menu { display: flex; flex-direction: column; position: relative; }

.menutop { display: flex; flex-direction: row; position: relative; padding-top: 4em; padding-left: 7em; }

.menusub { display: flex; flex-direction: row; position: relative; margin-left: 27em; }

.menusub .portfoliomenubtn { padding-left: 2em; }

.menusvg { width: 0.8em; height: 0.8em; line-height: 1; padding-right: 2.25em; margin: 0.5em; }

#menutoggle { display: none; position: absolute; width: 12vw; right: 7vw; top: 3.5em; padding: 0; background-color: transparent; border: none; }

#hamburgericon { fill: #0a0909; height: 3em; }

#hamburgericon:hover { fill: #7335ab; cursor: pointer; }

/*PORTFOLIO*/
.portfolio { width: 79vw; margin-right: 1em; column-count: 3; column-gap: 1em; }

.portfoliopost { display: inline-block; position: relative; width: 100%; max-height: 25vw; overflow: hidden; margin-bottom: .5em; }

.portfoliopost img { object-position: 50% 50%; object-fit: cover; width: 100%; height: 100%; }

.portfoliopost:hover .p_post_hide { visibility: visible; }

#p_overlay { position: absolute; display: none; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 10; }

.p_post_hide { position: absolute; visibility: hidden; width: 100%; text-align: center; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.3); overflow: hidden; }

.p_post_hide a { height: 100%; width: 100%; display: inline-block; }

.p_post_hide a:hover { cursor: zoom-in; }

.p_post_hide h3 { color: #f7f0e4; font-family: "Raleway", sans-serif; text-align: center; padding-top: 1rem; text-shadow: 2px 2px rgba(0, 0, 0, 0.5); }

.pano-container { object-fit: contain; width: 81em; height: 63em; max-height: 80vh; max-width: 78vw; position: relative; margin-top: 1.5em; }

.post { margin: 2em 0; }

.repit { margin: 4em; }

.sketchbook_cover { display: inline-flex; flex-direction: row; position: relative; align-items: center; }

.sketchbook_cover_img { display: inline-flex; }

.sketchbook_page { margin-right: 2em; display: none; }

.sketchbook_page img { height: 30em; }

.switch { display: flex !important; }

.tags { display: flex; flex-direction: row; position: relative; flex-wrap: wrap; }

.tags h6:not(:first-child) { margin-left: 0.75em; }

@media (max-width: 100vh) { header { display: flex; flex-direction: column; position: relative; }
  h2 { margin-right: 1em; }
  nav { display: block; height: 20em; }
  p { max-width: 80vw; }
  .contenu { padding: 0 0.55rem; }
  .fullsizeBtn { display: none; }
  .links { display: flex; flex-direction: row; position: relative; margin: 0; }
  .links li { margin-top: 0; display: inline; margin-right: 1em; }
  .menu { display: none; align-items: flex-end; margin-right: 7vw; }
  .switch { display: flex; }
  .menusub { margin-left: 9vw; flex-wrap: wrap; align-items: center; }
  .menutop { display: flex; flex-direction: column; position: absolute; align-items: end; margin-right: auto; }
  #menutoggle { display: flex; }
  .pano-container { max-width: 96vw; max-height: 75vh; }
  .portfolio { column-gap: 2vw; width: 96vw; transform: translate(0em, 5em); } }

.description { margin-left: 2em; margin-right: 15vw; }

.info { display: flex; flex-direction: column; position: relative; }

#info-me { width: 25vw; height: auto; margin-top: -10em; margin-left: 45vw; }

@media (max-width: 100vh) { .description p { font-size: 1.5em; line-height: 1.2; }
  .description h3 { font-size: 1.5em; }
  .info { align-items: center; }
  #info-me { width: 50vw; margin: 1em; } }

.fullscreen { position: fixed; display: none; /*mettre a block dans CS*/ height: 100vh; width: 100vw; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(21, 22, 26, 0.3); }

.fullscreen img { position: fixed; display: block; align-content: center; }
