@import url(https://fonts.googleapis.com/css?family=Bitter:200,300,400,500,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
html { font-size: 100%; line-height: 1; -webkit-text-size-adjust: 100%; }

body { margin: 0; padding: 0; }

a { background-color: transparent; }

*, *::before, *::after { box-sizing: content-box; text-decoration: none; }

.menu { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; position: relative; }

.menutop { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: row; position: relative; margin-top: 2em; margin-left: 5em; }

.menusub { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: row; position: relative; margin-left: 5em; }

.menusub .portfoliomenubtn { margin-left: 2em; }

.menusvg { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: row; position: relative; align-self: flex-end; height: 2rem; }

.menusvg img { object-fit: contain; width: 3.5rem; height: 2.25rem; margin-top: -.5rem; padding-left: 1rem; }

.menusvg .menutitle { background-color: #5b456f; }

#hamburgericon { height: 0; }

#menubtn { visibility: hidden; height: 0; }

#title0 { font-size: 6.5em; top: .1em; font-weight: 200; letter-spacing: -.05em; }

#title1 { font-size: 3.25em; top: -0.5em; font-weight: 900; letter-spacing: 0; }

#title2 { font-size: 3.5em; top: -.35em; font-weight: 500; letter-spacing: 0.4em; }

#title3 { font-size: 4.75em; top: 0.4em; font-weight: 800; letter-spacing: 0em; }

#title4 { font-size: 2.4em; top: 0.25em; font-weight: 900; letter-spacing: -0.05em; }

#title5 { font-size: 2.75em; top: 0.25em; font-weight: 400; letter-spacing: 0; }

#title6 { font-size: 1.75em; top: 0.75em; font-weight: 900; }

#title7 { font-size: 3.25em; top: 0.5em; font-weight: 400; }

#title8 { font-size: 3em; top: .75em; font-weight: 100; letter-spacing: 0.1em; }

#title9 { font-size: 2.75em; top: .75em; font-weight: 300; letter-spacing: 0em; }

@media (max-width: 100vh) { header { overflow: hidden; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: row; position: relative; width: 100%; justify-content: space-between; }
  header .switch { height: 24em; }
  .menu { font-size: 2em; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; position: relative; align-items: flex-end; top: 2em; right: 0; visibility: hidden; }
  .menu.switch { visibility: visible; }
  .menusvg { width: 0.8em; height: 0.8em; line-height: 1; padding-right: 2.25em; margin: 0.5em; }
  .menutop { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; position: relative; align-items: flex-end; }
  .title { height: 8em; }
  .repit { margin: 1.5em; }
  #hamburgericon { fill: var(--clr-accent-300); height: 3em; }
  #hamburgericon:hover { fill: var(--clr-primary-0); cursor: pointer; }
  #menubtn { visibility: visible; position: absolute; width: 12vw; right: 7vw; top: 3.5em; padding: 0; background-color: transparent; border: none; } }

.portfoliopost { display: inline-block; position: relative; width: 100%; }

.portfoliopost img { display: block; width: 100%; }

.portfoliopost:hover .p_post_hide { visibility: visible; }

.p_post_hide { position: absolute; visibility: hidden; width: inherit; text-align: center; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(40, 40, 40, 0.4); overflow: hidden; }

.p_post_hide a { height: 100%; width: 100%; display: inline-block; }

.p_post_hide a:hover { cursor: zoom-in; }

.p_post_hide h3 { color: #fff7de; font-family: "Raleway", sans-serif; text-align: center; padding-top: 1rem; text-shadow: 2px 2px rgba(0, 0, 0, 0.5); }

.sketchbook { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; position: relative; padding-top: 15rem; width: 79vw; }

.sketchbook_cover { display: inline-flex; flex-direction: row; position: relative; align-items: center; }

.sketchbook_cover_img { display: inline-flex; transform-origin: left; margin-left: 20vw; }

.sketchbook_page { display: flex; margin-right: 2em; }

.sketchbook_page img { height: 30em; }

.fullscreen { position: fixed; display: none; /*mettre a block dans CS*/ height: 100vh; width: 100vw; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(21, 22, 26, 0.3); }

.fullscreen img { position: fixed; display: block; align-content: center; }

header { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: row; position: absolute; margin-top: 1em; margin-left: 3rem; z-index: 10; font-family: "Bitter", serif; }

body { background: #d5cdc2; font-size: 1em; }

a { color: #2f2a24; text-decoration: none; }

a:hover { color: #0f0e0e; }

a:active { color: #5b456f; }

a.active { color: #fff7de; }

h1 { color: #2f2a24; font-size: 2em; letter-spacing: 0.1em; margin-top: 1.5em; }

h1:hover { color: #0f0e0e; }

h1:active { color: #fff7de; }

h1 a.active { color: inherit; }

h1 span { position: relative; }

h2 { font-family: "Raleway", sans-serif; font-size: 1.65em; font-weight: 400; padding-right: 2.15rem; text-decoration: none; text-decoration-style: solid; }

h2 .active { text-decoration: underline; }

h3 { margin-top: 0.5em; font-family: "Raleway", sans-serif; font-size: 1.15em; }

h4 { font-family: "Bitter", serif; font-size: 1.3em; margin-top: 0.25em; margin-bottom: 0.25em; }

h5 { font-family: "Raleway", sans-serif; font-size: 0.75em; margin-top: 0.25em; margin-bottom: 0.25em; font-weight: 700; }

h6 { font-family: "Bitter", serif; font-size: 0.8em; }

img { height: auto; }

p { font-size: 1.1em; margin-top: 1em; margin-bottom: 1em; font-family: "Bitter", serif; text-align: left; margin-top: 1.5em; max-width: 33vw; }

ul { font-size: 1em; padding-left: 1rem; }

li { font-family: "Raleway", sans-serif; list-style-type: none; }

.contenu { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; position: relative; padding-left: 20vw; padding-top: 14rem; padding-right: 2.5rem; padding-bottom: 1em; flex-wrap: wrap; }

.date { font-family: "Raleway", sans-serif; color: #63625f; font-size: 0.8em; margin-top: 0.1em; margin-bottom: 0.1em; font-weight: 300; margin-left: 0.5em; }

.infinite-more-link { height: 1em; }

.intime { font-size: 1.25em; display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: column; position: relative; font-size: 1em; margin-top: 0.5em; margin-bottom: 0.5em; }

.intime img { width: clamp(16px, 93vw, 100%); max-height: 90vh; object-fit: contain; object-position: 0 0; margin-bottom: .5em; margin-top: 2em; }

.intime a:hover { color: #0f0e0e; }

.intime a:visited { color: #63625f; }

.links { position: fixed; display: inline-block; margin-top: 10em; margin-left: 3rem; text-decoration: none; z-index: 1; }

.links li { font-size: 1.25em; margin-top: 1.5em; margin-bottom: 1.5em; }

.linktree { font-size: 2.5em; margin-top: 2em; margin-bottom: 2em; margin: auto; text-align: center; position: relative; top: 30vh; }

.linktree a { text-decoration: underline; }

.portfolio { width: 79vw; margin-right: 1em; column-count: 3; column-gap: 1em; }

.pano-container { height: 63em; max-height: 90vh; width: 81em; max-width: 78vw; position: relative; margin-top: 2em; }

.post { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: Column; position: relative; }

.repit { margin: 4em; }

.tags { display: flex; justify-content: flex-start; align-items: flex-start; flex-direction: Row; position: relative; }

.tags h6 { margin-left: 1em; }

@media (max-width: 100vh) { .contenu { padding-left: 0; }
  .pano-container { max-width: 95vw; }
  .portfolio { width: 95vw; transform: translate(1em, 8em); } }
