@import url(https://fonts.googleapis.com/css?family=Bitter:200,300,400,500,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/*Colors*/
  $logo: #42392d;
  $darkAccent: #0a0909;
  $midGray: #63625f;
  $bgColor: #fcefd8;
  $lightAccent: #f17917;
  $lighter: #f7f0e4;
  $outlandish: #7335ab;

  $darkOverlay: rgba(0, 0, 0, 0.3);

/*Fonts*/
  $primaryFont: 'Bitter', serif;
  $accentFont: 'Raleway', sans-serif;

/*Base spacing*/
  $spacingLeft: 20vw;
  $contentSize: 80vh;

@import "./mixin";
@import "./normalize";
/*Other imports at the end to load after*/


header {
  @include flexLeft(row);
  margin: 2em 0;
  z-index: 10;
  }
body {
  background: $bgColor;
  font-size: 1em;
}
a {
  color: $logo;
  text-decoration: none;
  &:hover { color:$darkAccent;}
  &:active { color:$outlandish;}
}  a.active {color: $lightAccent;}
h1{
  font-family: $primaryFont;
  font-size: 2em;
  letter-spacing: 0.1em;
  color: $logo;
  margin-top: 1.5em;
  &:hover { color:$darkAccent;}
  &:active { color:$lightAccent;}
  a.active {color: inherit;}
}
h2 {
  font-family: $accentFont;
  font-size: 1.65em;
  font-weight: 400;
  margin-right: 2.5em;
  text-decoration: none;
  text-decoration-style: solid;
  .active {text-decoration: underline;}
}
h3 {
  color: $lightAccent;
  font-family: $accentFont;
  margin-top:0.5em;

  font-size: 1.15em;
}
h4 {
  font-family: $primaryFont;
  font-size:1.3em;
  margin: 0.25em 0;
}
h5 {
  font-family: $accentFont;
  font-size:0.75em;
  font-weight: 700;
  margin: 0.25em 0;
}
h6 {
  font-family: $primaryFont;
  font-size: 0.8em;
}
img {
  height:auto;
}
p {
  font-size:1.1em;
  line-height: 1.2;
  margin: 1.25em 0;
  font-family: $primaryFont;
  text-align: left;
  max-width:40vw;
  a{  text-decoration: underline;
    color: $logo;
}
}
ul {
  font-size: 1em;
  padding-left:1rem ;
}
li{
    font-family: $accentFont;
    list-style-type: none;
}
.contenu{
  @include flexLeft();
  padding : 7em 2.5rem 1rem 20vw;
}
.date {
  font-family: $accentFont;
  color: $midGray;
  font-size:0.8em;
  margin: 0.1em 0;
  font-weight: 300;
}
.fullsizeBtn {
  font-size: .75em;
  position:absolute;
  left:-1.5em;
  top:2em;

}
.imgBox{
  position:relative;
}
.infinite-more-link {height: 0.1em;}
.intime {
  @include flexLeft();
  font-size: 1.25em;
  margin: 0.5em 0;
  img{
    width: clamp(16px, 93vw, 100%);
    max-height: $contentSize;
    object-fit:contain;
    object-position: 0 0;
    margin-top:1.5em;
    margin-bottom:0;
  }a:hover{color: $darkAccent;}
  a:visited {color: $midGray;}
}
.links {
  position: fixed;
  display: inline-block;
  margin-left: -15vw;
  text-decoration: none;
  z-index: 1;
  li {
      font-size: 1.25em;
      margin: 1.5em 0;
  }
}
.linktree {
  font-size: 2.5em;
  margin: 2em auto;
  text-align:center;
  position:relative;
  top:30vh;
  a{text-decoration: underline;}
}
.menutitle {
  padding-left: 5em;
  }
  .menu {@include flexLeft();}
  .menutop {
    @include flexLeft(row);
    padding-top:2em;
    padding-left: 5em;
  }
  .menusub {
    @include flexLeft(row);
    margin-left:5em;
    .portfoliomenubtn {padding-left: 2em;}
  }
  .menusvg{
    width:0.8em;
    height:0.8em;
    line-height: 1;
    padding-right:2.25em;
    margin:0.5em;
  }
  #menutoggle{
    display: none;
    position: absolute;
    width: 12vw;
    right:7vw;
    top:3.5em;
    padding:0;
    background-color: transparent;
    border:none
    }
  #hamburgericon {
    fill: $darkAccent;
    height:3em;
    &:hover{
      fill: $outlandish;
      cursor:pointer;}
  }
.portfolio {
  width: 79vw;
  margin-right: 1em;
  column-count: 3;
  column-gap: 1em;
}
.pano-container {
  @include fitDiv(81em, 63em)
  max-height: $contentSize;
  max-width:78vw;
  position: relative;
  margin-top: 1.5em;
}
.post {
  margin: 2em 0;
}
.repit {margin:4em;}
.sketchbook_cover {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  }

  .sketchbook_cover_img {
    display: inline-flex;
  }
  .sketchbook_page {
    margin-right: 2em;
    display: none;
  img {
    height: 30em;
  }
}
.switch {display: flex !important;}
.tags {
  @include flexLeft(row);
  flex-wrap: wrap;
}.tags h6:not(:first-child){margin-left: 0.75em;}


@media (max-width:100vh) {
  header {
    @include flexLeft();
  }
  body {}
  h2 {
    margin-right: 1em;
}
  nav {
    display: block;
    height:20em;
  }
  p {
    max-width: 80vw;
  }
  .contenu {
    padding:0 0.55rem;
  }

  .fullsizeBtn{
    display: none;
  }

  .links{
    @include flexLeft(row);
    margin:0;
    li {
      margin-top: 0;
      display: inline;
      margin-right: 1em;
    }
  }
  .menu {
    display:none;
    align-items: flex-end;
    margin-right: 7vw;

  }
  .switch {display: flex;}
  .menusub {margin-left:9vw;
    flex-wrap: wrap;
  align-items: center;}
  .menutop {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: end;
    margin-right: auto;
  }
  #menutoggle {display: flex;}
  .pano-container {
    max-width: 96vw;
    max-height:75vh;}
  .portfolio {
    column-gap: 2vw;
    width:96vw;
    transform: translate(0em,5em);}
}

@import "./info";
@import "./linktree";
@import "./menu";
@import "./mobile";
@import "./portfolio";
@import "./sketchbook";
