

@import url(https://fonts.googleapis.com/css?family=Bitter:200,300,400,500,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);


$logo: #2f2a24;
$darkAccent: #0f0e0e;
$midGray: #8f8c88;
$bgColor: #d5cdc2;
$lightAccent: #f2e7c5;
$outlandish: #5b456f;


$primaryFont: 'Bitter', serif;
$accentFont: 'Raleway', sans-serif;


@import "./mixin";
@import "./normalize";
@import "./menu";
@import "./mobile";
@import "./portfolio";
@import "./linktree";

header {
  font-family: $primaryFont;
}

body {
  background: $bgColor;
  font-size: 1em;
}

a {
  color: $logo;
  text-decoration: none;
  &:hover { color:$darkAccent;}
  &:active { color:$lightAccent;}
}  a.active {color: white;}


h1{
  color: $logo;
  font-size: .8em;
  letter-spacing: 0.2em;
  margin-top: 1.5em;
  &:hover { color:$darkAccent;}
  &:active { color:$lightAccent;}
  a.active {color: inherit;}
  span{
    position:relative;
  }
}
h2 {
  font-family: $accentFont;
  font-size: 2em;
  font-weight: 400;
  padding-right: 2.15rem;
  text-decoration: none;
  text-decoration-style: solid;
  .active {
    text-decoration: underline;
  }
}
h3 {
  margin-top:0.5em;
  font-family: $accentFont;
  font-size: 1.5em;
}
h4 {

}

h5 {

}

h6 {

}
img {
  height:auto;
}

p {
  font-size: 1.1em;
  font-family: $logo;
  text-align: left;
}
ul {
  font-size: 1em;
}


.contenu{
  @include flexLeft(column, relative);
  padding-left:20vw;
  padding-top: 15rem;
  padding-right: 2.5rem;
  padding-bottom: 1em;
}
.date {
  font-family: $accentFont;
  color: $midGray;
  font-size: 0.75em;
  font-weight: 300;
}
.infinite-more-link {
  height: 1em;
}
.intime {
  font-size: 1.25em;
  @include flexLeft(column, relative);
  img{
    @include contentSize();

    object-fit:contain;
    object-position: 0 0;
    margin-bottom:0;
  }
    p {
    width: 50vw;
    margin-top:1em;
    color: $outlandish;
    text-decoration: underline;

    }a:hover{color: $darkAccent;
    }a:visited {color: $midGray;

  }
}
.pano-image {
  @include contentSize();
  /*height:clamp(128px, 70vh, 98vh);*/
  position: relative;
  margin-top: 1em;
}
.post {
  @include flexLeft(Column, relative);
}
.repit {
  margin:4em;
}
