

@import url(https://fonts.googleapis.com/css?family=Bitter:200,300,400,500,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);


$logo: #2f2a24;
$darkAccent: #0f0e0e;
$midGray: #63625f;
$bgColor: #d5cdc2;
$lightAccent: #fff7de;
$outlandish: #5b456f;


$primaryFont: 'Bitter', serif;
$accentFont: 'Raleway', sans-serif;

$spacingLeft: 20vw;

@import "./mixin";
@import "./normalize";
@import "./linktree";
@import "./menu";
@import "./mobile";
@import "./portfolio";
@import "./sketchbook";


header {
    @include flexLeft(row, absolute);
    margin-top: 1em;
    margin-left: 3rem;
    z-index: 10;
    font-family: $primaryFont;
  }


body {
  background: $bgColor;
  font-size: 1em;
}

a {
  color: $logo;
  text-decoration: none;
  &:hover { color:$darkAccent;}
  &:active { color:$outlandish;}
}  a.active {color: $lightAccent;}


h1{
  color: $logo;
  font-size: 2em;
  letter-spacing: 0.1em;
  margin-top: 1.5em;
  &:hover { color:$darkAccent;}
  &:active { color:$lightAccent;}
  a.active {color: inherit;}
  span{
    position:relative;
  }
}
h2 {
  font-family: $accentFont;
  font-size: 1.65em;
  font-weight: 400;
  padding-right: 2.15rem;
  text-decoration: none;
  text-decoration-style: solid;
  .active {
    text-decoration: underline;
  }
}
h3 {
  margin-top:0.5em;
  font-family: $accentFont;
  font-size: 1.15em;
}
h4 {
  font-family: $primaryFont;
  @include Font(1.3em, 0.25em)
}
h5 {
  font-family: $accentFont;
  @include Font(0.75em, 0.25em);
  font-weight: 700;
}
h6 {
  font-family: $primaryFont;
  font-size: 0.8em;
}
img {
  height:auto;
}

p {
  @include Font(1.1em, 1em)
  font-family: $primaryFont;
  text-align: left;
  margin-top:1.5em;
  max-width:33vw;
}
ul {
  font-size: 1em;
  padding-left:1rem ;
}
li{
    font-family: $accentFont;
    list-style-type: none;
}

.contenu{
  @include flexLeft(column, relative);
  padding-left:$spacingLeft;
  padding-top: 14rem;
  padding-right: 2.5rem;
  padding-bottom: 1em;
  flex-wrap: wrap;
}
.date {
  font-family: $accentFont;
  color: $midGray;
  @include Font(0.8em, 0.1em);
  font-weight: 300;
  margin-left: 0.5em;
}
.infinite-more-link {
  height: 1em;
}
.intime {
  font-size: 1.25em;
  @include flexLeft(column, relative);
  img{
    @include contentSize();
    object-fit:contain;
    object-position: 0 0;
    margin-bottom:.5em;
    margin-top:2em;
  }@include Font(1em, 0.5em)
  a:hover{color: $darkAccent;
    }a:visited {color: $midGray;

  }
}
.links {
  position: fixed;
  display: inline-block;
  margin-top: 10em;
  margin-left: 3rem;
  text-decoration: none;
  z-index: 1;
  li {
      @include Font(1.25em, 1.5em);
  }
}

.linktree {
  @include Font(2.5em, 2em);
  margin:auto;
  text-align:center;
  position:relative;
  top:30vh;
      a {
        text-decoration: underline;
      }

}
.portfolio {
  width: 79vw;
  margin-right: 1em;
  column-count: 3;
  column-gap: 1em;
}
.pano-container {
height:63em;
max-height: 90vh;
width:81em;
max-width:78vw;
  position: relative;
  margin-top: 2em;
}
.post {
  @include flexLeft(Column, relative);
}
.repit {
  margin:4em;
}
.tags {
  @include flexLeft(Row, relative);
  h6 {
      margin-left: 1em;
  }
}

@media (max-width:100vh) {
  body {

  }
  .contenu {
    padding-left:0;
  }
  .pano-container {
    max-width: 95vw;
  }
  .portfolio {width:95vw;
  transform: translate(1em,8em);}

}
