{% extends 'base.html' %}
{% load static %}


{% block title %}
Sebsepia!
{% endblock %}

{% block titlecard %}
<div class="logo">
  <img src="{% static 'zblog/pixel/sebsepialogo1.png' %}">
</div>
{%endblock%}

{% block navbar %}

  {% include 'navbar.html' %}
{% endblock %}


{% block main %}
<div class="contenu infinite-container blog">
  {% for post in page_obj %}
    {% include 'blogpost.html' %}
  {% endfor %}
{% if page_obj.has_next %}
<a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
<div class="loader" role="status">
  <h5>Loading...</h5>
</div>
{% endif %}
</div>
<div class="repit">

</div>
{% endblock %}
