{% extends 'base.html' %}

{% block title %}
Sebsepia!
{% endblock %}

{% block titlecard %}
Sebsepia!
{%endblock%}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}


{% block main %}
<div class="contenu infinite-container blog">
  {% for post in page_obj %}
    {% include 'blogpost.html' %}
  {% endfor %}
{% if page_obj.has_next %}
<a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
<div class="loader" role="status">
  <h6>Loading</h6>
</div>
{% endif %}
</div>

{% endblock %}
