{% extends 'base.html' %}
{% load static %}

  {% block title %}
    Sebsepia - Info
  {% endblock %}

  {% block titlecard %}
    Sebsepia
  {%endblock%}


{% block main %}



<!--  <div id="info-list">
    <p></p>
    <ul>
      <li><a class="li-text" href="https://www.artstation.com/sebastienbegin">Artstation</a></li>
      <li><a class="li-text" href="www.linkedin.com/in/sebsepia">Linkedin</a></li>
      <li><a class="li-text" href="https://www.instagram.com/sebsepia/">instagram</a></li>
    </ul>
    <p></p>
    <ul>
      <li><a class="li-symbols"  href="{% url 'tag' slug="digital" %}">&#128394;&#128187;</a></li>
      <li><a class="li-symbols" href="{% url 'tag' slug="3D" %}">&#128432;</a></li>
      <li><a class="li-symbols" href="{% url 'tag' slug="bikes" %}">&#128690;</a></li>
      <li><a class="li-symbols" href="{% url 'tag' slug="observation" %}">&#128065;</a></li>

    </ul>
  </div>-->

    <div class="contenu info">

    <div class="description">
      <h3>Seb Bégin</h3>
        <p>
          Hi there! I'm <b>Seb</b>, a visual artist working in video games, illustration and design.
          I am interested in nerdy stuff such as indie comics, bikepacking and
          open source software.
          <br>
          <br>
          Open for commissions and work opportunities.
          <br>
          <br>
          <br>
          ^^

          <br><br>
        </div>
        <div class="deets">
            I made this website using <a id="django" href="https://www.djangoproject.com/">Django</a> and a <i>lot</i> of trial and error.<br>
            It's still a work in progress!<br><br>
            This website and its contents are licensed under a<br>
            <a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/">Creative Commons Attribution 2.5 Canada License</a><br>
            unless stated otherwise.<br><br>
            <!--<a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/">
              <img alt="Creative Commons Licence" src="https://i.creativecommons.org/l/by/2.5/ca/88x31.png" />
            </a>-->
          </div>
          <img src="{% static 'zblog/pixel/me-info.png' %}" alt="me, a biker" id="info-me">
    <br>
    <br>
</div>
{% endblock %}
