{% extends 'base.html' %}
{% load static %}

  {% block title %}
    Sebsepia - Info
  {% endblock %}

  {% block titlecard %}
  <div class="logo">
    <img src="{% static 'zblog/pixel/sebsepialogo3.png' %}">
  </div>
  {%endblock%}

  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock %}

{% block main %}


<div class="contenu info">
  <div class="links">
    {% include 'mylinks.html' %}
  </div>
    <div class="description">
        <h3>About me</h3>
        <p>
          <br>
          Hi! I'm <b>Seb</b>, a drawer residing in Tiohtià:ke/Montreal. This website is for me and for you.<br>
          It documents what resonates with me, what I draw; what goes through my eyes and my hands.
          I am currently looking for work as a Matte Painter or Concept Artist.
          I am also available for freelance illustration and photography.
          <br><br>
          say hi at <a href="seb@sebsepia.org">seb@sebsepia.org</a>
          <br><br><br>
          ^^
          <br><br>
          this site was (and is still being) written with <a href="https://www.djangoproject.com/">django.</a>
          <br>
          all the material on this website is under a<br>
          <a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/">Creative Commons Attribution 2.5 license</a><br>
          unless stated otherwise.<br><br>
        </p>
        </div>

    <img src="{% static 'zblog/pixel/me-info.png' %}" alt="me, a biker" id="info-me">

</div>
{% endblock %}
