{% load static %}
{% load active_link_tags %}
    <header>
        <nav>
          <div class="title">
            <h1><a id="titlecard" class="{% active_link 'home' %}" href="{% url 'home' %}">
              {% block titlecard %}
                SEBSEPIA!
              {%endblock%}
            </a></h1>
          </div>

          <div class="menu">
              <h2><a class="{% active_link 'portfolio' %}" href="{% url 'portfolio' %}">portfolio</a></h2>
              <h2><a class="{% active_link 'info' %}" href="{% url 'info' %}">info</a></h2>
              <h2><a class="{% active_link 'shop' %}" href="{% url 'shop' %}">la shop</a></h2>
          </div>
          <button type="button" name="menu" id="menubtn">
            <h3>menu</h3>
          </button>
        </nav>

  <button type="button" name="collapse" id="collapsebtn">
    +
  </button>
  <button type="button" name="collapse" id="mobilecollapsebtn">
    blog
  </button>
<div class="linktree">

  <img src="{% static 'svg/linktree.svg' %}" alt="linktree" class="linktreeimg">
</div>
</header>
