{% load active_link_tags %}

    <div class="menutop">
      {# make sure the porfolio is still shown as the active link regardless of what portfolio category is chosen #}
      <h2><a class="{% if request.resolver_match.kwargs.slug == 'all' %}
          {% active_link 'portfolio' slug='all' %}
        {% else %}
        {% for cat in menu_categories %}
          {% active_link 'portfolio' slug=cat %}
          {% endfor %}
        {% endif %}"
        href="{% url 'portfolio' slug='all' %}">portfolio</a></h2>
      <h2><a class="{% active_link 'sketchbook' %}" href="{% url 'sketchbook' %}">sketchbooks</a></h2>
      <h2><a class="{% active_link 'info' %}" href="{% url 'info' %}">info</a></h2>

    </div>
