{% extends 'base.html' %}

{% block title %}
portfolio de Seb Bégin
{% endblock %}

{% block titlecard %}
  Seb Bégin
{%endblock%}

{%block linktree%}
    {#{% include 'linktree.html' %}#}
{%endblock%}

{% block main %}
  <div class="contenu">
    <div class="portfolio">

    {% for obj in portfoliocat %}
        <div class="categories {% cycle 'digital' 'illustration' 'photo' as category %}">
          <h3><a href="{% url 'tag' slug=category %}">{{category}}</a></h3>

            {% for post in obj %}
            <div class="portfoliopost ">
              <a href="{% url 'tag' slug=category %}#{{post.slug}}"
                style="color:{{post.text_color}};">
                  <h5>{{post.title}}</h5>
                  <div class="portfoliodate">{{post.post_date|date:'Y'}}</div>
                  <div class="portfoliointime" style="
                  background-color:{{post.bg_color}};
                  color:{{post.text_color}};">
                    {{ post.talkshit_md | safe}}
                  </div>
                </a>
              </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
