{% extends 'base.html' %}

{% load active_link_tags %}

{% block title %}
Portfolio
{% endblock %}


{% block titlecard %}
 Seb Bégin
{%endblock%}


{% block navbar %}
  {% include 'navbar.html' %}

{% endblock %}


{% block main %}

  {% load static %}
  {% get_media_prefix as MEDIA_URL %}
  <div class="menusub">
    <div class="portfoliomenubtn">
      <h3><a  class="{% active_link 'portfolio' slug='all' %}"
        href="{% url 'portfolio' slug='all' %}">All</a>
      </h3>
    </div>
    {% for cat in menu_categories %}
    <div class="portfoliomenubtn">
      <h3><a  class="{% active_link 'portfolio' slug=cat %}"
        href="{% url 'portfolio' slug=cat %}">{{cat}}</a>
      </h3>
    </div>

    {% endfor %}
  </div>

  <div id="p_overlay">

  </div>
<!--  {%if portfolio_posts.has_previous%}
  <a href="?page={{portfolio_posts.previous_page_number}}">previousButton</a>
  {%endif%}
  {%if portfolio_posts.has_next%}
  <a href="?page={{portfolio_posts.next_page_number}}">nextButton</a>
  {%endif%}-->

 <div class="contenu">

   <div class="portfolio">
      {% for category in posts %}
        {% for post in category.post_set.all %}

          <div class="portfoliopost">

            {# take the first image of each post #}
            {% for image in post.blogimage_set.all %}
              {% if forloop.counter == 1 %}
                <img src="{{ MEDIA_URL }}{{image.b_img}}" alt="">
               {% endif %}

            <a href="{% url 'details' post.slug %}">
              <div class="p_post_hide">
                <h3>{{post.title}}</h3>
                <div class="portfoliopost_bg"></div>
              </div>
            </a>

            {% endfor %}

        </div>

      {% endfor %}
    {% endfor %}

  </div>

 </div>
{% endblock %}
