{% extends 'base.html' %}

{% load active_link_tags %}

{% block title %}
Portfolio
{% endblock %}


{% block titlecard %}
 Seb Bégin
{%endblock%}


{% block navbar %}
  {% include 'navbar.html' %}
      <div class="menusub">
        <div class="portfoliomenubtn">
          <h3><a  class="{% active_link 'portfolio' slug='all' %}"
              href="{% url 'portfolio' slug='all' %}">All</a>
          </h3>
        </div>
        {% for cat in allcategories %}
        <div class="portfoliomenubtn">
          <h3><a  class="{% active_link 'portfolio' slug=cat %}"
              href="{% url 'portfolio' slug=cat %}">{{cat}}</a>
          </h3>
        </div>

      {% endfor %}
      </div>

{% endblock %}


{% block main %}

{% load static %}
{% get_media_prefix as MEDIA_URL %}

<div id="p_overlay">

</div>
 <div class="contenu">

   <div class="portfolio">

    {# checks the slug to see if the portfolio will show all categories, or instead a specific category #}
    {% if request.resolver_match.kwargs.slug == 'all' %}

      {# specific category #}
      {% for category in allcategories %}
        {% for post in category.post_set.all %}
          <div class="portfoliopost">
            {# take the first image of each post #}
            {% for image in post.blogimage_set.all %}
              {% if forloop.counter == 1 %}
              <img src="{{ MEDIA_URL }}{{image.b_img}}" alt="">
             {% endif %}
           {% endfor %}
            <a href="{% url 'details' post.slug %}">
              <div class="p_post_hide">
               <h3>{{post.title}}</h3>
              <div class="portfoliopost_bg"></div>
            </a>

          </div>
          </div>
        {% endfor %}
      {% endfor %}

    {% else %}
      {# all categories #}
      {% for category in categories %}
        {% for post in category.post_set.all %}
          <div class="portfoliopost">
            {% for image in post.blogimage_set.all %}
            {% if forloop.counter == 1 %}
            <img src="{{ MEDIA_URL }}{{image.b_img}}" alt="">
           {% endif %}
           {% endfor %}
           <a href="{% url 'details' post.slug %}">
             <div class="p_post_hide">
               <h3>{{post.title}}</h3>
              <div class="portfoliopost_bg"></div>
            </a>
            </div>

          </div>
        {% endfor %}
      {% endfor %}

    {% endif %}



 </div>
{% endblock %}
