{% extends 'base.html' %}
{% load active_link_tags %}


{% block title %}
Sketchbooks
{% endblock %}


{% block titlecard %}
 Seb Bégin
{%endblock%}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block main %}
  <div class="sketchbook">
    {% for book in sketchbooks %}
      <img class="sketchbookcover" src="{{MEDIA_URL}}{{book.cover_img}}" alt="{{book.category_name}}">
      {% for post in book.post_set.all %}
        {% for blog_image in post.blogimage_set.all %}
          <img src="{{ MEDIA_URL }}{{blog_image.b_img}}" alt="{{blog_image.b_img_alt}}"title="{{blog_image.b_img_alt}}">
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>

{%endblock%}
