{% extends 'base.html' %}
{% load static %}
{% block title %}
posts with tag {{request.resolver_match.kwargs.slug}}
{% endblock %}

{% block titlecard %}
<div class="logo">
  <img src="{% static 'zblog/pixel/sebsepialogo4.png' %}">
</div>
{%endblock%}

{% block navbar %}

  {% include 'navbar.html' %}
{% endblock %}

{% block main %}
<div class="contenu">
  {% for post in posts%}
    {% include 'blogpost.html' %}
  {% endfor %}
</div>
{% if page_obj.has_next %}
<a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
<div class="loader" role="status">
  <h6>Loading</h6>
</div>
{% endif %}

{% endblock %}
